include LICENSE
include README.md
include requirements.txt
include pyshbundle/sample_input_data/*.gz
include pyshbundle/data/JPL_TN_files/*.txt
include pyshbundle/data/long_mean/SH_long_mean_jpl.npy
include pyshbundle/validation_data/tws_m.mat
include pyshbundle/data/mrb_shapefiles/*


recursive-exclude * __pycache__
recursive-exclude * *.py[co]