site_name: pyshbundle

site_url: https://gess-research-group.github.io/pyshbundle/

repo_url: https://github.com/GESS-research-group/pyshbundle

theme:
      name: material


plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
        #   ignore_h1_titles: True
        #   execute: True
        #   execute_ignore: "*.ipynb"
          
markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - pymdownx.arithmatex:
           generic: true
    - toc:
          permalink: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# extra
#         provider: google
#         property: UA-XXXXXXXXX-X

nav:
    - Home: index.md
    - Theoretical Background: theory.md
    - Installation: installation.md
    - Tutorials: tutorials.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Changelog: changelog.md
    - Report Issues: https://github.com/GESS-research-group/pyshbundle/issues
    - Reference Manual:
            - pyshbundle Introduction: pyshbundle.md
            - Load Data: load_data.md
            - Convert Data Formats: convert_data_formats.md
            - Core Functionality: core_functionality.md
            - Auxillary Codes: auxillary_codes.md
    - Acknowledgement: acknowledgement.md
    - License: license.md
