pip
grip
numpy
pandas
netCDF4
scipy
xarray
julian
scipy
geopandas
matplotlib
rasterio
shapely
tqdm
cartopy
ipykernel
jupyterlab
rioxarray
salem
#conda install -c conda-forge --file requirements_dev.txt -y
