pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip
numpy
pandas
netCDF4
scipy
xarray
julian
scipy
geopandas
matplotlib
rasterio
shapely
tqdm
cartopy
ipykernel
jupyterlab
rioxarray
#conda install -c conda-forge --file requirements_dev.txt -y